// COLORS
$color-primary: #6a983c;
$color-norm-black: #151515;
$color-a9: #a9a9a9;
$color-f9: #f9f9f9;
$color-f5: #f5f5f5;
$color-d1: #d1d1d1;
$bg-color: #fff;
$white: #fff;
$black: #000;

// Container
$width-container: 1240px;
$p-container: 20px;

// FONTS
$font-open: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;