.products {
  display: flex;

  
  .filters {
    width: 30%;
    padding-right: 32px;
  
    
    &__box {
      margin-bottom: 3rem;

      &:first-child {
        .filters__item{
          
          width: 100%;
          justify-content: space-between;

          .filters__link{
            @include text;
            color: $color-norm-black;
            @include trans;

            &:hover{
              color: $color-primary
            }
          }
          span{
            @include text-grn-bold;
            padding: 0 8px;
            background: #F4F8EC;
            border-radius: 12px;
          }
        }
      }
    }
    &__title {
      @include text-semi;
      margin-bottom: 1rem;
    }
    &__list {

      &:first-child .filters__item{
        width: 100%;
        justify-content: space-between
      }
    }
    &__item {
      display: flex;
      align-items: center;

      
      & label{
        @include text;
      }
      &:not(:last-child){
        margin-bottom: 0.75rem;
      }
    }
    &__link {
      text-decoration: none;
    }
    &__price-div {
      width: 100%;
      height: 6px;
      background: #ebebeb;
      border-radius: 12px;
      margin-bottom: 23px;
      position: relative;
    }
    &__wrapper{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 80px;
      width: 80px;
      height: 6px;
      background-color: #6A983C;
      border-radius: 12px;
      z-index: 1;
    }
    &__price-controls{
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 80px;
      top: -100%;
      z-index: 3;
      background: $white;
      border: 1px solid $color-d1;
      box-shadow: 0px 2px 4px #00000026;
      border-radius: 50%;
      cursor: pointer;

      &:last-child{
        left: 140px;
      }
    }
    &__inputs {
      display: flex;
      align-items: center;
    }
    .min-max{
      max-width: 110px;
      background: $color-f9;
      border: 1px solid $color-d1;
      border-radius: 12px;
      padding: 12px 19px;
    }
    &__inputs-div {
      display: flex;
      flex-direction: column;

      label{
        @include text-semi;
        margin-left: 2px;
      }
    }
    &__inputs{
      position: relative;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    &__minus-span{
      display: inline-block;
      position: relative;
      bottom: -10px;
    }
    .reset{
      @include trans;
      @include text-bold;
      color: $color-a9;
      padding: 6.5px 16px;
      margin-left: 16px;
    }
    &__label{
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      &::before{
        content: "";
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
        background-color: $color-f9;
        border: 1.5px solid #D1D1D1;
        border-radius: 5px;
        margin-right: 10px;
      }
      &::after{
        content: "";
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: 24px;
        height: 24px;
        background-image: url("../../media/img/check.svg");
        @include bg;
      }
    }
    .stars-label{
      color: #FDBC15;

      .bx-star{
        color: $color-d1;
      }
      &:hover{
        color: #FDBC15;
        .bx-star{
          color: $color-d1;
        }
      }
    }
    .brand-checkbox{
      display: none;
    }
    .stars-checbox{
      display: none;
    }
    input[type=checkbox]:checked ~ .filters__label::after{
      display: inline-block;
    }
    input[type=checkbox]:checked ~ .filters__label::before{
      background: #6A983C;
      background-color: $color-primary;
    }
  }
  &__list {
    width: 70%;
  }
  .open{
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    
    .product-box{
      flex-direction: column;
      padding: 16px;
      max-width: 270px;

      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
    .product-box__about{
      width: 100%;
    }
    .cost{
      display: flex;
      justify-content: space-between;
      max-width: 100%;

      &__btns{
        display: inline-block !important;
        .product__btn{
          display: inline-block !important;
        }
      }
    }
    .product-box__imgs{
      height: 180px;
      width: 240px;
      margin-bottom: 16px;
    }
    .product-box__about{
      flex-direction: column;
      padding: 0;
    }
    .inner-box .inner-box__down{
      display: none !important;
      }
    .cost__shipping{
      display: none !important;
      }
    .cost__btn{
      display: none !important;
    }
  }
  .product-box {
    display: flex;
    width: 100%;

    &:not(:last-child){
      margin-bottom: 32px;
    }      
    &__imgs {
      width: 30%;
      height: 280px;
      background: $color-f9;
      border-radius: 12px;
      overflow: hidden;
    }
    &__about {
      display: flex;
      justify-content: space-between;
      padding: 32px;
      width: 70%;
    }
    .inner-box {
      width: 60%;
    
      &__title {
        @include text-semi;
        margin-bottom: 4px;
      }
      &__des {
        @include text-blvk;
        color: #575757;
        margin-bottom: 8px;
      }
      &__rating {
        font-size: 17px;
        margin-bottom: 25px;
      }
      &__down {
        display: flex;
      }
      &__item {
        &:not(:last-child){
          margin-bottom: 12px;
        }
      }
      &__static-texts{
        span{
          color: $color-primary;
        }
      }
      &__static-title {
        font-family: $font-open;
        font-size: 14px;
        line-height: 19px;
        color: $color-a9;
        padding-right: 32px;
      }
      &__static-text {
        font-family: $font-open;
        font-size: 14px;
        line-height: 19px;
        color: $color-a9;
      }
    }
    .cost {
      min-width: 160px;
      
      &__prices {
        margin-bottom: 16px;
      }
      &__price {
        @include text-semi;
      }
      &__discount {
        @include text-grn-bold;
        color: $color-a9;
        text-decoration: line-through;
      }
      &__shipping {
        margin-bottom: 26px;
      }
      &__shipping-type {
        @include text-grn-bold;
        color: $color-a9;
      }
      &__shipping-priod {
        @include text-blvk;
        color: $color-a9;
      }
      &__btns {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      &__btn {
        &:first-child {
          margin-bottom: 12px;
        }
        &:first-child span{
          color: $white;
        }
        &:first-child:hover span{
          color: $color-primary;
        }
      }
      .product__btn{
        display: none;
      }
    }
    
  }
}

@media only screen and (max-width : 1100px) {
  .products{
    .simsim.filters{
      left: 0;
    }
    .filters__box-btns{
      display: flex;
      align-items: center;
      justify-content: space-between;

      span{
        margin-bottom: 16px;
        font-size: 25px;
        font-weight: 600;
        color: $color-norm-black;
      }
    }
    .filters{
      width: 350px;
      padding: 30px;
      position: fixed;
      left: -110%;
      top: 0;
      background-color: $white;
      overflow-y: scroll;
      height: 100%;
      @include trans;
      z-index: 999;
    }
    &__list{
      width: 100%;
    }
    
  }
}

@media only screen and (max-width : 768px) {
  .products{
    
    .product-box{
      flex-direction: column;

      &__imgs{
        width: 100%;
        min-height: 300px;
        max-height: 600px;
        height: auto;
      }
      &__img{
        display: inline-block;
        width: 100%;
        height: auto;
      }
      &__about{
        width: 100%;
      }
    }    
  }
}
@media only screen and (max-width : 548px) {
  .products{
    
    .product-box{
      
      .inner-box{
        margin-bottom: 16px;
      }
      &__about{
        flex-direction: column;
      }
      .cost__btns{
        align-items: flex-start;
      }
    }    
  }
}